<div class='container'>
  <h2>CMHC Protocols</h2>
  {{#if signedIn}}
    {{#link-to 'protocols.new' tagName='button'}}New Protocol{{/link-to}}
    <button {{action 'logout'}}>Logout</button>
  {{/if}}
</div>
{{yield}}
