<article>
  <br>
  {{#link-to "protocols.show" attrs.protocol}}{{attrs.protocol.title}}{{/link-to}}
  <p>{{attrs.protocol.description}}</p>
  {{#each protocol.steps as |step|}}
    <p>{{step.information}}</p>
  {{/each}}
  <hr>
</article>
