<h3> Create a New Post </h3>

<form id="NewPost">
  <p>
    {{input value=protocol.title placeholder="Title"}}
    {{textarea value=protocol.description placeholder="Description" rows="10" cols="100"}}
  </p>
  <p>
    {{#each steps as |step|}}
      {{protocol-step
        step=step
        removeStep=(action 'destroyStep' step)}}
    {{/each}}
  </p>
  <p>
    <button {{action "createProtocol"}}>Publish</button>
    <button {{action "createStep"}}>New Step</button>
  </p>
</form>
