{{#if editing}}
  <form id="UpdateProtocol">
     <p>
      {{input value=bufferedProtocol.title placeholder="Title"}}
      {{textarea value=bufferedProtocol.description placeholder="Description" rows="10" cols="100"}}
    </p>
    <p>
      {{#each steps as |step|}}
        {{protocol-step
          step=step
          removeStep=(action 'destroyStep' step)}}
      {{/each}}
    </p>
    <p>
      <button {{action "saveProtocol" model}}>Save</button>
      <button {{action "cancelEditing"}}>Cancel</button>
      <button {{action "createStep"}}>New Step</button>
    </p>
  </form>
{{else}}
  {{protocol-item protocol=model}}
  {{#if signedIn}}
    <button {{action "toggleEditing"}}>Edit</button>
  {{/if}}
{{/if}}
{{outlet}}
